* {
  -webkit-user-select: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 12pt;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

#app {
  display: flex;
  flex-direction: column;
}

#nav {
  list-style-type: none;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
}

#title {
  margin: 0px;
  font-size: 9pt;
  font-weight: 300;
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

#app-panes {
  flex: grow;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 40px);
}

#editor {
  width: 50%;
  height: calc(100vh - 40px);
  border: 0px;
  outline: 0px;
}

#preview {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100vh - 40px);
  align-items: center;
  text-align: center;
}

.ace-tm .ace_gutter {
  background-color: transparent !important;
}

.ace-tm .ace_gutter-active-line {
  background-color: rgba(0, 0, 0, 0.07) !important;
}
